*:after,
*:before,
* {
  box-sizing: border-box;
}

#map {
        height: 500px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        min-height: 100vh;
        height: 100%;
        margin: 0;
        padding: 0;
      }


.map-container {
  max-width: 700px;
  margin: 50px auto;
}

.marker {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid blue;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
  transition: transform 0.15s ease-in;
  &::after {
    content: '';
    display: inline-block;
    border-top: 8px solid blue;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    top: calc(100% - 2px);
    right: 50%;
    z-index: -1;
    transform: translateX(50%);
  }
  &::before {
    content: "\f0fc";
    font-family: FontAwesome;
    color: #888;
    font-size: 18px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 2px 3px 0 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    transform: translateY(-4px);
  }
}